@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    max-width: 500px;
    margin: auto;
}
thead {
    background-color: rgb(153, 153, 153);
    color: white;
}

td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

td.materias {
    text-align: left;
}

.medias{
    background-color: rgb(153, 153, 153);
    color: white;
}

.medias > th {
    text-align: left;
}
